*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primcol: #C59042;
    --seccol: #1E2E3E;
    --tetcol: #DBDBDB;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}

header{
    background: linear-gradient(to top, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 40% ), url(bentley.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    font-size: clamp(2rem, 1.5vw, 3.5rem);
    color: #FFFFFF;
    line-height:12px;

}

.nav-logo>span{
    color: var(--primcol);
    font-size: clamp(0.5rem, 0.5vw, 1rem);
}

.nav-menu{
    display: flex;
    flex-basis: 60%;
    justify-content: space-around;
}

.nav-item{
    list-style-type: none;
}


.nav-link{
    text-decoration: none;
    padding: 12px 15px;
    font-size: clamp(1rem, 0.9vw, 3rem);
    color: #FFFFFF;
}
.nav-link:hover{
    /* padding: 12px 15px; */
    border: 1px solid #C59042;
}

.header-content-wrapper{
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
}
.header-content{
    display: flex;
    justify-content: center;
    font-size: clamp(3rem, 2.5vw, 7rem);
    word-spacing: 3px;
    color: #FFFFFF;

}

.header-scroll{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: clamp(1rem, 0.8vw, 3rem);
    gap: 10px;
}

.section1-wrapper{
    padding-top: 30px;

}

.section1-info{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 15px;
    font-size: clamp(1.3rem, 0.9vw, 3rem);
    text-align: center;
    color: #4F4F4F;
}

.section1-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section1-heading{
    font-size: clamp(2rem, 1.8vw, 5rem);
    font-weight: 900;
    color: var(--seccol);

}

.section1-image-wrapper{
    display: flex;
    align-items: center;
    /* gap: 20px; */
    justify-content: center;
    position: relative;

}

.section1-image-wrapper>div{
    transform: rotate(-90deg);
    position: absolute;
    top: 9%;
    left: -17%;
}
